$navy-transparent: rgba(10, 43, 52, .2);
$navy: rgba(10, 43, 52, .9);
$beige: rgb(194, 167, 122);

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-l: 1200px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}