@import '_variables';


.container {
    padding: 100px 0 0 0;
    width: 100%;
    @include flex-center;
    .text-n-form-wrapper {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .text {
            width: 50%;
            padding: 0 5% 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                font-size: 18px;
                color: rgb(82, 82, 82);
                text-align: justify;
            }
        }

        .form-container {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        
            a {
                color: inherit;
                font-weight: bold;
                font-size: 22px;
            }
        
            p {
                font-size: 20px;
            }
        
        
        
            .form-wrapper {
                background-color: rgba(255, 255, 255, .7);
                width: 100%; height: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
        
        
                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
        
                    input, textarea, label {
                        margin: 10px 0;
                        cursor: pointer;
                    }
        
                    input[type='text'], input[type='email'], textarea {
                        font-family: 'calibri';
                        font-size: 14px;
                        width: 80%; height: 40px;
                        min-width: 200px;
                        border-width: 0 0 1px 0;
                        resize: none;
                    }
        
                    textarea {
                        height: 80px;
                        min-height: 80px;
                    }
        
                    input[type='submit'] {
                        background-color: $navy;
                        color: white;
                        width: 200px; height: 40px;    
                        min-height: 40px; 
                        transition: all .3s;
                        
                        &:hover {
                            background-color: lighten($navy,8);
                        }
                    }
        
                    span, a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    
}

@media (max-width: $desktop) {
    .container {
       
        .text-n-form-wrapper {
            width: 80%
        }
    }
}


@media (max-width: $tablet) {
      
    .container {
        .text-n-form-wrapper {
            flex-direction: column;
            width: 100%;

            .text {
                width: 90%;
            }

            .form-container {
                justify-content: center;
                width: 90%;
                min-height: 100vh;
                padding: 0 0 100px 0;
                
                .address {
                    width: 90%;
                }

                .form-wrapper {
                    width: 90%;

                    form {
                        width: 100%;
                    }

                }
            }

        }
    }
}
  
 

@media (max-width: $mobile) {
    .container {
        .text-n-form-wrapper {
            .form-container {
                min-height: 110vh;
                padding: 0 0 100px 0;
            }
        }
    }
}