@import '_variables';

.contact-footer {
    footer {
        margin: 5% 0 0 0;
        padding: 3% 0;
        width: 100%;
        background-color: black;
        color: #eeeeee;
        display: flex;
        justify-content: space-around;
    
        a {
            color: inherit;
            text-decoration: none;
            transition: all .3s;
    
            &:hover {
                color: $beige;
            }
        }
    
        .logo-wrapper, .about, .links, .address {
            width: 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: lighter;
    
            p {
                margin: 0;
            }
        }
    
        .address {
            font-size: 13px;
        }
    
        .links {
            width: 90%;
            font-size: 13px;
            
            a {
                margin: 10px 0;
            }
        }
        
        .logo-wrapper {
            min-height: 170px;
            justify-content: space-between;
    
            img {
                width: 200px; height: 40px;
            }
        }
    }
    
}

.copy {
    background-color: black;
    color:   #eeeeee;
    width: 100%; height: 30px;
    text-align: center;
    font-weight: lighter;
    font-size: 11px;
  
}

@media (max-width: $tablet) {
    .contact-footer {
        footer {
            flex-direction: column;
            align-items: center;
    
            .logo-wrapper, .about, .links {
                width: 90%;
                margin: 5% 0;
            }
    
            .logo-wrapper {
                min-height: 10px;
            }
    
            .about, a, .address {
                align-items: center;
                text-align: center;
            }
        }
    }

}


