@import '_variables';


nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 80px;
    background-color: $navy-transparent;
    color: white;
    z-index: 999;
    transition: all .3s;

    .logo-wrapper {
        height: 100%;
        @include flex-center;
        padding: 0 5%;
        float: left;

        img{
            width: 250px; height: 50px; 
        }
    }

    ul {
        margin-left: 15%;
        padding: 0;
        margin: 0;
        width: 25%; height: 100%;
        min-width: 150px;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        transition: height .7s;

        a {
            color: inherit;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                color: $beige;
            }
        }
    }

    .burger {
        position: absolute;
        top: 40%; right: 5%;
        width: 30px; height: 26px;
        z-index: 101;
        transition: all .2s;
        cursor: pointer;
        display: none;

        .item {
            position: absolute;
            width: 100%; height: 12%;
            background-color: white;
            border-radius: 16px;
            transition: top .2s  linear .4s, transform .3s linear .1s;
            cursor: pointer;
        }
       
        .item-1 {top: 0; left: 0;}
        .item-2 {top: 40%; left: 0}
        .item-3 {top: 80%; left: 0;}
    }

}

.scrolled {
    height: 60px;
    background-color: $navy;
}

nav.active {
    .burger {
        .item {
            transition: transform .2s  linear .4s, top .3s linear .1s;
        } 

        .item-1 {
            top: 40%; left: 0px;
            transform: rotateZ(45deg);
        }

        .item-2 {
            transform: rotateZ(-45deg);
        }
        
        .item-3 {
            top: 40%; left: 0;
            transform: rotateZ(-45deg);
        }
    }
}  

/*RESPONSIVE*/

@media (max-width: $tablet) {
    nav {   
        ul {
            position: absolute;
            top: 80px; right: 0;
            min-width: 0;
            width: 100%; height: 0;
            background-color: rgba(0,0,0,.9);
            flex-direction: column;
            justify-content: space-evenly;
    

            li {
                font-size: 22px;
            }
        }

        .logo-wrapper {
            padding: 0 0 0 10%;
        }

        .burger {
            display: block;
        }
    }

    nav.active {
        ul {
            height: 40vh;
        }
    }

    
    .scrolled {
        ul {
            top: 60px;
        }
    }
}