@import '_variables';

.post-container {
    width: 100%;
    @include flex-center;

    .post {
        width: 55%;
        max-width: 750px;
        padding: 4%;

        .back-button {
            width: 90px; height: 25px;
            color: white;
            background-color: $navy;
            padding: 2px 4px;
            @include flex-center;
            font-weight: bold;
            border-radius: 5px;

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        h1 {
            margin-bottom: 0;
        }
    
        br {
            line-height: 750%;
         }
    
        img {
            width: 500px; height: auto;
            float: left;
            margin-right: 15px;
        }

        .post-image {
            flex-direction: column;
            position: relative;
            width: 750px; height: 450px;
            max-width: 100%;
            background-size: cover;
            margin: 15px 0 0 0;
        }
    
        .date {
            margin-bottom: 10px;
            font-size: 14px;
            color: grey;
            font-style: italic;
        }

        h2 {
            font-size: 24px;
        }
    
        p, li {
            font-size: 18px;
            color: grey;
        }

        b {
            color: rgb(63, 63, 63);
        }

        .table-wrapper {
            @include flex-center;
            flex-direction: column;
        }
    }
}



@media (max-width: $tablet) {
.post-container {
    .post {
        width: 90%;

        .post-image {
            height: 300px;
        }

        img {
            width: 330px; height: auto;
        }
    }
}

  
}

