@import '_variables';

/*SLIDER*/
.slider {
    @include flex-center;
    position: relative;
    width: 100%; height: 60%;
    background-image: url('https://www.mieszkanieczydom.pl/public/images/bg.jpeg');
    background-size: cover;
    transition: all .8s;
    color: white;
    overflow: hidden;

    h1 {
        font-size: 42px;
        background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
    }
}

.slider .button-left {
    position: absolute;
    top: 0; left: 0;
    width: 60px; height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,0,.6) 0%,  rgba(0,0,0,0) 100%);
    cursor: pointer;
    z-index: 5;
}

.slider .button-left::before {
    color: silver;
    content: '\276E';
    font-size: 45px;
    position: absolute;
    top: 45%; left: 10px;
    transition: all .3s;
}

.slider .button-right {
    position: absolute;
    top: 0; right: 0;
    width: 60px; height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 100%);
    cursor: pointer;
    z-index: 5;
}

.slider .button-right::before {
    color: silver;
    content: '\276F';
    font-size: 45px;
    position: absolute;
    top: 45%; right: 10px;
    transition: all .3s;
}

@media (max-width: $tablet) {
    .slider {

        h1 {
            font-size: 26px;
            padding: 0 5%;
        }
    }
}
