@import '_variables';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'calibri';
    max-width: 100%;
    overflow-x: hidden;
}

/*BLOG*/
.blog {
    width: 100%;
    color: grey;
    padding: 20px 0 0 0;

    h2 {
        position: relative;
        text-align: center;
        color: black;

        $h2-after-width: 200px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0; left: calc(50% - #{$h2-after-width}/2);
            width: $h2-after-width;
            height: 1px;
            background-color: $beige;
        }
    }

    .recent {
        @include flex-center;
        width: 100%;
        flex-flow: wrap;
    }
    
}

/*BLOG-L*/
.blog-l {
    
    .recent {
        flex-direction: column;
    }

    .recent .post-card,
    .recent .first-post {
        width: 80%;
        max-width: 1100px;
        margin: 15px 0;
        display: flex;
        justify-content: center;
        background-size: cover;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .recent {
            .first-post {
                .post-image {
                    flex-direction: column;
                    position: relative;
                    width: 750px; height: 450px;
                    max-width: 100%;
                    background-image: url('https://www.mieszkanieczydom.pl/public/images/img2.jpeg');
                    background-size: cover;

                    &:hover {
                        .description {
                            .title {
                                color: $beige;
                            }
                        }
                    }
                }

                .description {
                    position: absolute;
                    left: 0%; bottom: 0%;
                    padding:3% 0 3% 3%;
                    width: 97%;
                    color: white;
                    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

                    .title {
                        font-size: 24px;
                        transition: color .3s;

                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                    }

                    .date {
                        font-style: italic;
                    }
                }
            }

            .post-card {
                .post-image {
                    background-image: url('https://www.mieszkanieczydom.pl/public/images/img2.jpeg');
                    background-size: cover;
                    width: 300px; height: 200px;
                    transform-style: preserve-3d;
                    transition: all .5s;
                }

                &:nth-child(2) .post-image {
                    background-image: url('https://www.mieszkanieczydom.pl/public/images/img1.jpeg');
                }

                &:nth-child(3) .post-image {
                    background-image: url('https://www.mieszkanieczydom.pl/public/images/img3.jpeg');
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 40%;
                    transition: all .5s;
                    margin: 0 0 0 10px;

                    .title {
                        color: black;
                        font-size: 22px;
                        transition: color .3s;

                        .date {
                            font-size: 14px;
                            font-style: italic;
                            color: grey;
                        }
                        
                        a {
                            color: inherit;
                            text-decoration: none;
                        }

                        &:hover {
                            color: $beige;
                        }
                    }

                    .text {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4; 
                        -webkit-box-orient: vertical;
                    }
                }

            }


    }
}


/*BLOG RESPONSIVE*/

@media (max-width: $tablet) {
    nav .logo-wrapper img{
        width: 150px; height: 30px; 
    }

    .blog {
        .recent {
            
            .post-card {
                width: 100%;
            }

            .first-post {
                .post-image {
                    width: 450px; height: 300px;
                }
            }
        }
    }

    .blog-l .recent .post-card .post-image {
        width: 180px; height: 120px;
    }

    .blog .recent .post-card .description .title {
    
        font-size: 18px;
    }
    

}

@media (max-width: $mobile) {
    nav .logo-wrapper img{
        width: 125px; height: 25px; 
    }

    .blog-l {
        .recent {
            .first-post {
                width: 90%;
                
                .post-image {
                    width: 350px; height: 210px;

                    .description {
                        padding: 0 6% 2% 6%;
                        width: 80%;
                    
                        .title {
                            font-size: 18px;
                        }

                        .date {
                            font-size: 14px;
                        }
                    }
                }  
            }
        }
    } 

}

