.container {
  padding: 100px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .text-n-form-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .text-n-form-wrapper .text {
  width: 50%;
  padding: 0 5% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .text-n-form-wrapper .text p {
  font-size: 18px;
  color: #525252;
  text-align: justify;
}

.container .text-n-form-wrapper .form-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .text-n-form-wrapper .form-container a {
  color: inherit;
  font-weight: bold;
  font-size: 22px;
}

.container .text-n-form-wrapper .form-container p {
  font-size: 20px;
}

.container .text-n-form-wrapper .form-container .form-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container .text-n-form-wrapper .form-container .form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container .text-n-form-wrapper .form-container .form-wrapper form input,
.container .text-n-form-wrapper .form-container .form-wrapper form textarea,
.container .text-n-form-wrapper .form-container .form-wrapper form label {
  margin: 10px 0;
  cursor: pointer;
}

.container .text-n-form-wrapper .form-container .form-wrapper form input[type='text'],
.container .text-n-form-wrapper .form-container .form-wrapper form input[type='email'],
.container .text-n-form-wrapper .form-container .form-wrapper form textarea {
  font-family: 'calibri';
  font-size: 14px;
  width: 80%;
  height: 40px;
  min-width: 200px;
  border-width: 0 0 1px 0;
  resize: none;
}

.container .text-n-form-wrapper .form-container .form-wrapper form textarea {
  height: 80px;
  min-height: 80px;
}

.container .text-n-form-wrapper .form-container .form-wrapper form input[type='submit'] {
  background-color: rgba(10, 43, 52, 0.9);
  color: white;
  width: 200px;
  height: 40px;
  min-height: 40px;
  transition: all .3s;
}

.container .text-n-form-wrapper .form-container .form-wrapper form input[type='submit']:hover {
  background-color: rgba(17, 71, 86, 0.9);
}

.container .text-n-form-wrapper .form-container .form-wrapper form span,
.container .text-n-form-wrapper .form-container .form-wrapper form a {
  font-size: 12px;
}

@media (max-width: 992px) {
  .container .text-n-form-wrapper {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .container .text-n-form-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .container .text-n-form-wrapper .text {
    width: 90%;
  }

  .container .text-n-form-wrapper .form-container {
    justify-content: center;
    width: 90%;
    min-height: 100vh;
    padding: 0 0 100px 0;
  }

  .container .text-n-form-wrapper .form-container .address {
    width: 90%;
  }

  .container .text-n-form-wrapper .form-container .form-wrapper {
    width: 90%;
  }

  .container .text-n-form-wrapper .form-container .form-wrapper form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container .text-n-form-wrapper .form-container {
    min-height: 110vh;
    padding: 0 0 100px 0;
  }
}
.contact-footer footer {
  margin: 5% 0 0 0;
  padding: 3% 0;
  width: 100%;
  background-color: black;
  color: #eeeeee;
  display: flex;
  justify-content: space-around;
}

.contact-footer footer a {
  color: inherit;
  text-decoration: none;
  transition: all .3s;
}

.contact-footer footer a:hover {
  color: #c2a77a;
}

.contact-footer footer .logo-wrapper,
.contact-footer footer .about,
.contact-footer footer .links,
.contact-footer footer .address {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
}

.contact-footer footer .logo-wrapper p,
.contact-footer footer .about p,
.contact-footer footer .links p,
.contact-footer footer .address p {
  margin: 0;
}

.contact-footer footer .address {
  font-size: 13px;
}

.contact-footer footer .links {
  width: 90%;
  font-size: 13px;
}

.contact-footer footer .links a {
  margin: 10px 0;
}

.contact-footer footer .logo-wrapper {
  min-height: 170px;
  justify-content: space-between;
}

.contact-footer footer .logo-wrapper img {
  width: 200px;
  height: 40px;
}

.copy {
  background-color: black;
  color: #eeeeee;
  width: 100%;
  height: 30px;
  text-align: center;
  font-weight: lighter;
  font-size: 11px;
}

@media (max-width: 768px) {
  .contact-footer footer {
    flex-direction: column;
    align-items: center;
  }

  .contact-footer footer .logo-wrapper,
  .contact-footer footer .about,
  .contact-footer footer .links {
    width: 90%;
    margin: 5% 0;
  }

  .contact-footer footer .logo-wrapper {
    min-height: 10px;
  }

  .contact-footer footer .about,
  .contact-footer footer a,
  .contact-footer footer .address {
    align-items: center;
    text-align: center;
  }
}
footer {
  margin: 5% 0 0 0;
  padding: 3% 0;
  width: 100%;
  background-color: black;
  color: #eeeeee;
  display: flex;
  justify-content: space-evenly;
}

footer a {
  color: inherit;
  text-decoration: none;
  transition: all .3s;
}

footer a:hover {
  color: #c2a77a;
}

footer .logo-wrapper,
footer .about,
footer .links {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
}

footer .logo-wrapper p,
footer .about p,
footer .links p {
  margin: 0;
}

footer .logo-wrapper {
  min-height: 170px;
  justify-content: flex-start;
}

footer .logo-wrapper img {
  width: 200px;
  height: 40px;
}

footer .logo-wrapper .links {
  margin-top: 5%;
  width: 90%;
  font-size: 13px;
}

footer .logo-wrapper .links a {
  margin: 10px 0;
}

.copy {
  background-color: black;
  color: #eeeeee;
  width: 100%;
  height: 30px;
  text-align: center;
  font-weight: lighter;
  font-size: 11px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer .logo-wrapper,
  footer .about,
  footer .links {
    width: 90%;
    margin: 5% 0;
  }

  footer .logo-wrapper {
    min-height: 10px;
  }

  footer .about,
  footer a,
  footer .address {
    align-items: center;
    text-align: center;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(10, 43, 52, 0.2);
  color: white;
  z-index: 999;
  transition: all .3s;
}

nav .logo-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  float: left;
}

nav .logo-wrapper img {
  width: 250px;
  height: 50px;
}

nav ul {
  margin-left: 15%;
  padding: 0;
  margin: 0;
  width: 25%;
  height: 100%;
  min-width: 150px;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  transition: height .7s;
}

nav ul a {
  color: inherit;
  text-decoration: none;
  transition: all .3s;
}

nav ul a:hover {
  color: #c2a77a;
}

nav .burger {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 30px;
  height: 26px;
  z-index: 101;
  transition: all .2s;
  cursor: pointer;
  display: none;
}

nav .burger .item {
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: white;
  border-radius: 16px;
  transition: top .2s  linear .4s, transform .3s linear .1s;
  cursor: pointer;
}

nav .burger .item-1 {
  top: 0;
  left: 0;
}

nav .burger .item-2 {
  top: 40%;
  left: 0;
}

nav .burger .item-3 {
  top: 80%;
  left: 0;
}

.scrolled {
  height: 60px;
  background-color: rgba(10, 43, 52, 0.9);
}

nav.active .burger .item {
  transition: transform .2s  linear .4s, top .3s linear .1s;
}

nav.active .burger .item-1 {
  top: 40%;
  left: 0px;
  transform: rotateZ(45deg);
}

nav.active .burger .item-2 {
  transform: rotateZ(-45deg);
}

nav.active .burger .item-3 {
  top: 40%;
  left: 0;
  transform: rotateZ(-45deg);
}

/*RESPONSIVE*/

@media (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 80px;
    right: 0;
    min-width: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: space-evenly;
  }

  nav ul li {
    font-size: 22px;
  }

  nav .logo-wrapper {
    padding: 0 0 0 10%;
  }

  nav .burger {
    display: block;
  }

  nav.active ul {
    height: 40vh;
  }

  .scrolled ul {
    top: 60px;
  }
}
.post-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-container .post {
  width: 55%;
  max-width: 750px;
  padding: 4%;
}

.post-container .post .back-button {
  width: 90px;
  height: 25px;
  color: white;
  background-color: rgba(10, 43, 52, 0.9);
  padding: 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
}

.post-container .post .back-button a {
  color: inherit;
  text-decoration: none;
}

.post-container .post h1 {
  margin-bottom: 0;
}

.post-container .post br {
  line-height: 750%;
}

.post-container .post img {
  width: 500px;
  height: auto;
  float: left;
  margin-right: 15px;
}

.post-container .post .post-image {
  flex-direction: column;
  position: relative;
  width: 750px;
  height: 450px;
  max-width: 100%;
  background-size: cover;
  margin: 15px 0 0 0;
}

.post-container .post .date {
  margin-bottom: 10px;
  font-size: 14px;
  color: grey;
  font-style: italic;
}

.post-container .post h2 {
  font-size: 24px;
}

.post-container .post p,
.post-container .post li {
  font-size: 18px;
  color: grey;
}

.post-container .post b {
  color: #3f3f3f;
}

.post-container .post .table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .post-container .post {
    width: 90%;
  }

  .post-container .post .post-image {
    height: 300px;
  }

  .post-container .post img {
    width: 330px;
    height: auto;
  }
}
/*SLIDER*/

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60%;
  background-image: url("https://www.mieszkanieczydom.pl/public/images/bg.jpeg");
  background-size: cover;
  transition: all .8s;
  color: white;
  overflow: hidden;
}

.slider h1 {
  font-size: 42px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}

.slider .button-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: #020024;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  cursor: pointer;
  z-index: 5;
}

.slider .button-left::before {
  color: silver;
  content: '\276E';
  font-size: 45px;
  position: absolute;
  top: 45%;
  left: 10px;
  transition: all .3s;
}

.slider .button-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #020024;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  cursor: pointer;
  z-index: 5;
}

.slider .button-right::before {
  color: silver;
  content: '\276F';
  font-size: 45px;
  position: absolute;
  top: 45%;
  right: 10px;
  transition: all .3s;
}

@media (max-width: 768px) {
  .slider h1 {
    font-size: 26px;
    padding: 0 5%;
  }
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'calibri';
  max-width: 100%;
  overflow-x: hidden;
}

/*BLOG*/

.blog {
  width: 100%;
  color: grey;
  padding: 20px 0 0 0;
}

.blog h2 {
  position: relative;
  text-align: center;
  color: black;
}

.blog h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 200px/2);
  width: 200px;
  height: 1px;
  background-color: #c2a77a;
}

.blog .recent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: wrap;
}

/*BLOG-L*/

.blog-l .recent {
  flex-direction: column;
}

.blog-l .recent .post-card,
.blog-l .recent .first-post {
  width: 80%;
  max-width: 1100px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.blog-l .recent .first-post .post-image {
  flex-direction: column;
  position: relative;
  width: 750px;
  height: 450px;
  max-width: 100%;
  background-image: url("https://www.mieszkanieczydom.pl/public/images/img2.jpeg");
  background-size: cover;
}

.blog-l .recent .first-post .post-image:hover .description .title {
  color: #c2a77a;
}

.blog-l .recent .first-post .description {
  position: absolute;
  left: 0%;
  bottom: 0%;
  padding: 3% 0 3% 3%;
  width: 97%;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, black 100%);
}

.blog-l .recent .first-post .description .title {
  font-size: 24px;
  transition: color .3s;
}

.blog-l .recent .first-post .description .title a {
  color: inherit;
  text-decoration: none;
}

.blog-l .recent .first-post .description .date {
  font-style: italic;
}

.blog-l .recent .post-card .post-image {
  background-image: url("https://www.mieszkanieczydom.pl/public/images/img2.jpeg");
  background-size: cover;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all .5s;
}

.blog-l .recent .post-card:nth-child(2) .post-image {
  background-image: url("https://www.mieszkanieczydom.pl/public/images/img1.jpeg");
}

.blog-l .recent .post-card:nth-child(3) .post-image {
  background-image: url("https://www.mieszkanieczydom.pl/public/images/img3.jpeg");
}

.blog-l .recent .post-card .description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  transition: all .5s;
  margin: 0 0 0 10px;
}

.blog-l .recent .post-card .description .title {
  color: black;
  font-size: 22px;
  transition: color .3s;
}

.blog-l .recent .post-card .description .title .date {
  font-size: 14px;
  font-style: italic;
  color: grey;
}

.blog-l .recent .post-card .description .title a {
  color: inherit;
  text-decoration: none;
}

.blog-l .recent .post-card .description .title:hover {
  color: #c2a77a;
}

.blog-l .recent .post-card .description .text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/*BLOG RESPONSIVE*/

@media (max-width: 768px) {
  nav .logo-wrapper img {
    width: 150px;
    height: 30px;
  }

  .blog .recent .post-card {
    width: 100%;
  }

  .blog .recent .first-post .post-image {
    width: 450px;
    height: 300px;
  }

  .blog-l .recent .post-card .post-image {
    width: 180px;
    height: 120px;
  }

  .blog .recent .post-card .description .title {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  nav .logo-wrapper img {
    width: 125px;
    height: 25px;
  }

  .blog-l .recent .first-post {
    width: 90%;
  }

  .blog-l .recent .first-post .post-image {
    width: 350px;
    height: 210px;
  }

  .blog-l .recent .first-post .post-image .description {
    padding: 0 6% 2% 6%;
    width: 80%;
  }

  .blog-l .recent .first-post .post-image .description .title {
    font-size: 18px;
  }

  .blog-l .recent .first-post .post-image .description .date {
    font-size: 14px;
  }
}